/*-----------FONTS-------------------*/
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}


/*-------------UNIVERSAL-----------*/
* {      
 box-sizing: border-box;
}            

html {
 margin:0;
 height:100%;
 width:100%;
 font:1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
 background:darkgreen  url(../images/main.jpg) no-repeat center center fixed;
 background-size:cover;
 font-size:1.1em;
}

.content {
 width:100%;
 padding-top: 30px;
 clear:both;
}

footer {
 background:black;
 text-align:right;
 width:100%;
 height:35px;
 padding: 5px;
 clear:both;
 position:fixed;
 bottom : 0; 
 right:0;
z-index:1000;
}

footer a, 
footer a:visited {
 color:white;
}

footer a:hover {
 color:lightgreen;
}

a:hover {
 color:lightgreen;
}

a, a:visited {
 text-decoration:none;
 color:black;
}


h1 {
 font-size: 300%;
 text-transform:uppercase;
 letter-spacing: .065em;
 font-weight: 5900;
 text-align:center;
 color:white;
 text-shadow: 2px 1px black;
}

h3 {
 font-size: 1.2em;
 text-transform:uppercase;
 letter-spacing: .065em;
 font-weight: 5900;
 text-align:center;
 clear:both;
}



/*-------NAV--------*/

.topbrand, .topnav {
 margin:10px;
 
}


.logo {
 min-width:200px;
 max-width:30%;
 max-height:30%;
 margin-right:-3%;
 margin-bottom:-30px;

}




.topnav  li {
  display: inline-block;
  margin-right:10px;
}


.topnav  li  a {
  padding-right: 0;
  padding-left: 0;
  padding-bottom:5px;
  font-size: 1.2em;
  font-weight: bold;
  color: lightgray;
  border-bottom: 2px solid transparent;
}

.topnav  li  a:hover,
.topnav  li  a:focus {
  border-bottom-color: white;
  color:white;
}

.active a,
.active a:hover,
.active a:focus,
.topnav  .active  a,
.topnav  .active  a:hover,
.topnav  .active  a:focus {
  color: white;
  border-bottom-color: white;
}

@media (min-width: 1000px) {
  .logo {
    float: left;
  }
  .topnav {
    float: right;
 }

}



/*----------SIDENAV ------------*/

.sidenav {
 position:fixed;
 right:0;
 top:220px;
 z-index:800;
 list-style-type:none;
}

.sidenav img {
 float:right;
 width:95%;
 margin-bottom:10px;
}

.sidenav li {
 clear:right;
 height:55px;
 text-align:right;
}

.sidenav li a {
 font-size:1.5em;
 padding:10px;
 background:rgba(255,255,255,.8);
 color:Black;
 font-weight:1000;
}

.sidenav li a:hover {
 background: rgba(255,255,255,.5);
}


@media (max-height:865px) {

  .sidenav {
    position:absolute;
 }

}


/*------page style 1 (with sidenav)-----*/

.left-wrapper {
 float:left;
 margin-right:20%;
}

.section {
 margin-left:30px;
 margin-right:20px;
 margin-bottom:50px;
 padding:20px;
 border-radius:10px;
 background:rgba(220,220,220,.60);
}



/*-------Page style 2-------*/

.whole-wrapper {
 padding:20px;
 border-radius:10px;
 background:rgba(220,220,220,.60);
 width:75%;
 margin:auto;
 margin-bottom:50px;
}



/*------INDEX.HTML-----*/

.main {
  padding-left:30%;
 padding-right:5%;
 margin-bottom:50px;
 font-size:1.3em;
 color:white;
 font-weight:900;
 text-shadow: 1px 1px black;
 }

.title {
 margin-top:-50px;
}

/*-------SCHEDULE.HTML-------*/


.left {
 float:left;
 margin-right:150px;
  margin-left:50px;
}

#spring {
 height:340px;
}

#summer {
 height:420px;
}



/*-------ENROLL.HTML-------*/




/*-------CROWHOPISMS.HTML-------*/

.content ul,
.content ol {

 width:50%;
 margin:auto;
}

/*-------PRAISE.HTML-------*/




/*-------RAIN.HTML-------*/




/*-------CONTACT.HTML-------*/


.phone,
.mail {
 display:inline-block;
 min-width:20%;
 margin-top:50px;
 margin-bottom:50px;
 padding:7px;
}

.phone img,
.mail img  {
 width:100px;
 height:100px;
}


@media (max-width: 980px) {

.phone,
.mail {
 display:block;
 width:50%;
}


.phone img,
.mail img  {
 max-width:200px;
 width:90%;
 height:90%;
}

